/*
@define-color _accent --wofi-color0;
@define-color _foreground --wofi-color1;
@define-color _background --wofi-color2;
*/

@import ".config/colors.css";

* {
  font-family: Fira Mono;
  /* font-family: Droid Sans Mono; */
  font-size: 20px;
}

window {
  border-radius: 0px;
  border: 0px solid @accent;
  background: transparent;
  background-color: transparent;
  margin: 0px;
  paddin: 0px;
}

#inner-box {
  /* background-color: alpha(@theme_bg_color, 0.6); */
  background-color: @theme_bg_color;
  border: 0px solid @_accent;
  padding: 0px;
  margin: 0px;
}

#outer-box {
  margin-bottom: 17px;
  margin-top: -29px;
  margin-left: -62px;
  margin-right: -62px;
  border: 0px solid @_accent;
  background-color: transparent;
}

#text {
  padding: 0px;
  margin: 0px;
  color: @theme_fg_color;
}

#text:selected {
  /*color: @_accent;*/
  color: @theme_fg_color;
}

#entry {
  padding: 19px;
  margin: 3px;
  border-radius: 0px;
}

#entry:nth-child(even) {}

#entry:selected {
  /*background-color: transparent;*/
  background-color: @_accent;
  /* color: alpha(@theme_bg_color, 0.6); */
  color: @theme_bg_color;
  /*
    border: 2px solid @_accent;
    border-radius:10px;
  */
}
