@import ".config/colors.css";

* {
  font-family: Iosevka Extended;
  /* font-family: Droid Sans Mono; */
  font-size: 26px;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

window {
  /* border: 10px solid @_accent; */
  border: 0px solid @_accent;
  border-radius: 0px;
  background-color: transparent;
  background: transparent;
}

#input {
  margin: 5px;
  padding: 10px;
  border-radius: 0px;
  border: 0px solid @_accent;
  color: @_foreground;
  background-color: alpha(@_background, 0.6);
}

#inner-box {
  background: transparent;
}

#outer-box {
  margin: 5px;
  border: 0px;
  padding: 5px;
  background-color: alpha(@_background, 0.6);
}

#text {
  padding: 0px;
  color: @_foreground;
}

#text:selected {
  color: @_accent;
}

#entry {
  padding: 10px;
  border-radius: 0px;
}

/* #entry:nth-child(even) {} */

#entry:selected {
  background-color: transparent;
  color: aplha(@_background, 0.6);
}
